<div class="container">
    <div class="row justify-content-center mt-1" *ngFor="let item of plates">
        <div class="col-md-3 box" [routerLink]="['/plate/' + item.id]">
            <div><b>{{item.name}}</b> - {{item.price}} €</div>
        </div>
        <div class="col-md-auto" *ngIf="authService.isAdmin()">
            <button class="btn btn-danger" (click)="removePlate(item.id)">X</button>
        </div>
    </div>
</div>
<div class="container" *ngIf="authService.isAdmin()">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <button class="btn btn-primary" [routerLink]="['/create-plate']">Create new plate</button>
        </div>
    </div>
</div>