<div class="container">
    <div class="row justify-content-center mt-1">
        <div class="col-md-auto">
            <h1>{{plate.name}}</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1" *ngFor="let item of plateIngredient">
        <div class="col-md-3">
            <div><b>{{item.name}}</b> - {{item.expirydate | date:'shortDate'}}</div>
        </div>
        <div *ngIf="authService.isAdmin()" class="col-md-auto">
            <button class="btn btn-danger" (click)="removeIngredient(plate.id, item.id)">X</button>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-auto">
            <button class="btn btn-primary" [routerLink]="['/menu']">Go back</button>
        </div>
    </div>
</div>
<div class="container" *ngIf="authService.isAdmin()">
    <div class="row justify-content-center mt-1">
        <div class="col-md-auto">
            <button class="btn btn-primary" (click)="edit()">Add ingredients</button>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-auto">
            <form class="form-group" (ngSubmit)="updateNamePrice()" [formGroup]="form">
                <div>
                    <input class="form-control" placeholder="Name" type="text" formControlName="name">
                </div>
                <div>
                    <input class="form-control" placeholder="Price" type="number" formControlName="price">
                </div>
                <div style="text-align: center;" class="mt-1">
                    <button class="btn btn-primary mb-2" type="submit">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" *ngIf="plateEdit">
    <div class="row justify-content-center mt-1" *ngFor="let item of ingredients">
        <div class="col-md-3">
            <div><b>{{item.name}}</b> - {{item.expirydate | date:'shortDate'}}</div>
        </div>
        <div class="col-md-auto" *ngIf="authService.isAdmin()">
            <button class="btn btn-success" (click)="addIngredient(plate.id, item.id)">Add</button>
        </div>
    </div>
</div>